@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39;');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39;');


body{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
h1{
    color: blue;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    text-align: center;
}

/* Seccion Codigo */
#codigo{
    flex-wrap:nowrap;
    display: flex;
    margin-top: 20px;
}
#codigo_celda{
    width: 90px;
    height: 90px;
    background-color: #1aa1f0;
    border-radius: 12px;
    margin-right: 20px;
}
#codigo_numero{
    text-align: center;
    font-weight:bolder;
    font-size:xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* Seccion COMPROBAR */
#comprobar{
    justify-content: center;
    margin-top:20px;
    border-color: #1aa1f0;
    border-style: solid;
    border-radius: 10px;
    height: auto;
    width: 520px;   
}
#comprobar_titulo{
    color: #1aa1f0;
    font-weight: bolder;
    font-size: larger;
    margin-left: 10px;
}
#comprobar_numero{
    width: 90.5%;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: large;
    font-weight: 500;
    outline: none;
    border: 0px;
    border-bottom: 2px solid #1aa1f0;
}
#comprobar_boton{
    background-color: #1aa1f0;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    font-size:x-large;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 93%;
}
#comprobar_boton:hover {
    background-color: #1aa1f098;
}
/* Seccion INFO */
#info{
    background-color: #dc143c;
    border-radius: 10px;
    border: 0px;
    padding-left: 10px;
    width: 520px;
    margin-top: 20px;
    font-size: large;
    color: white;
    font-weight:900;
}

/* Seccion Result */
#result{
    display: flex;
}
.cuadrado {
    width: 90px;
    height: 90px;
    background-color: #bcbcbc;
    border-radius: 12px;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .columna {
    display: flex;
    flex-direction: row;
  }
